.navWrapper {
    display: flex;
    width: 80%;
    height: 80px;
    margin-left: 12%;
    padding-top: 20px;
}

.user-info {
    margin-top: 2rem;
    width: 70%;
}

.navIcons {
    display: flex;
    flex-direction: row-reverse;
    width: 30%;
    justify-content: space-around;
}

.navIcons a{
    color:inherit;
    text-decoration: none;
}

.navIcons > div {
    user-select: none;
    cursor: pointer;
    height: 1.2rem;
    border-bottom: 1px solid white;
}

.navIcons > div:hover {
    border-bottom: 2px solid white;
}