.pie-chart-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

svg.pie{
    overflow: visible;
}

.g-title {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
}