.round-button {
    display: inline-block;
    width: auto;
    height: 2rem;
    background: rgba(255,255,255,0.2);
    line-height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    user-select: none;
    border: 2px solid transparent;
    transition: background 0.1s;
    text-transform: uppercase;
}

.round-button a{
    color: inherit;
    text-decoration: none;
}

.round-button:hover {
    border: 2px solid white;
    background: rgba(255,255,255,0.3);
}